---
const response = await fetch('https://www.csscolorsapi.com/api/colors');
const allTheColors = await response.json();
---


{

allTheColors.colors.map( color => 
<tr style={`background: #${color.hex}`}>
<td>{color.name}</td>
<td>{color.group}</td>
</tr>
   
)

}


